<h1>lol</h1>
<%= link_to "Home",  root_path %>
<%= link_to "",  root_path %>
<%= link_to "Bookings",  bookings_path %>
<%= simple_form_for @booking do |f| %>
  <%= f.input :status, placeholder: 'Status' %>
  <%= f.submit 'Submit'%>
<% end %>
