<div class="cards-book">
  <div >
    <h1>Partners you booked</h1>
    <% @current_user_bookings.each do |booking| %>
      <% next if booking.status == 0 %>
      <div class="card-product">
        <% if booking.service.photo.key %>
          <%= image_tag cl_image_path(booking.service.photo.key) %>
        <% else %>
          <%= image_tag "icon.png" %>
        <% end %>
        <div class="card-product-infos">
          <p><%= booking.status%></p>
          <h2><%= "#{booking.service.title}" %></h2>
          <%# <p><%= "#{booking.start_date}" %>
          <%# <p><%= "#{booking.end_date}" %>
          <% if policy(booking).edit? %>
            <div class=".text-right">
              <%= simple_form_for booking do |t| %>
                <div class="d-none">
                  <%= t.input :status, value: 0 %>
                </div>
                <%= t.submit "cancel",class:"btn btn-primary"%>
              <% end %>
              <%# <%= link_to "edit",  edit_booking_path(booking), class:"btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <h1>Services you offered</h1>
    <div >
      <% @current_user.bookings_as_owner.each do |booking| %>
        <div class="card-product">
          <% if booking.service.photo.key %>
            <%= image_tag cl_image_path(booking.service.photo.key) %>
          <% else %>
            <%= image_tag "icon.png" %>
          <% end %>
          <div class="card-product-infos">
            <%# <h2><%= "#{booking.service.title}" %>
            <p>Booked by <%= "#{booking.user.name}" %></p>
            <p><%= booking.status%></p>
            <%= simple_form_for booking, html: { onchange:"submit()"}  do |t| %>
              <%= t.input :status, collection: ["pending","rejected", "accepted"], include_blank: false  %>
            <% end %>
            <%# <%= link_to "Edit",  edit_booking_path(booking), class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
